<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="orderflow_export_success">
        <observer name="productExportObserver" instance="RealtimeDespatch\OrderFlow\Observer\ProductExport" />
        <observer name="orderExportObserver" instance="RealtimeDespatch\OrderFlow\Observer\OrderExport" />
    </event>
</config>